---
import ThemeSwitcher from '../components/ThemeSwitcher.astro';
export interface Props {
}

const { } = Astro.props;

const TABS: Tab[] = [
  {
    href: 'docs',
    title: 'Docs',
  },
  {
    href: 'play',
    title: 'Playground',
  }
]
---
<style data-name='header'>
  html[theme-mode='dark'] #header {
    background-color: #31518c;
    box-shadow: 0 0 6px lightgray;
  }

  #header {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 30px;
    width: calc(100vw - 60px);
    height: 50px;
    background-color: #3E67B1;
    box-shadow: 0 0 10px gray;
    transition: .3s;
    overflow: hidden;
  }
  #header > .header-left {
    display: flex;
    align-items: center;
    gap: 80px;
  }
  #header > .header-left > .tabs {
    position: relative;
    display: flex;
    gap: 20px;
    height: 100%;
    color: white;
    font-size: 16px;
  }
  #header > .header-left > .tabs > .active-bar {
    position: absolute;
    bottom: -25px;
    left: 0;
    width: 100px;
    height: 5px;
    background-color: #6f92e3;
    transition: .3s;
  }
  #header > .header-left > .tabs > .tab {
    width: 100px;
    text-align: center;
    user-select: none;
    cursor: pointer;
    transition: .3s;
  }
  #header > .header-left > .tabs > .tab > a {
    color: white;
    text-decoration: none;
  }
  #header > .header-left > a:active,
  #header > .header-left > a:hover {
  }
  #header > .header-left > .tabs > .tab.disabled {
    cursor: not-allowed;
  }
  #header > .header-left > .tabs > .tab:not(.disabled):hover {
    text-shadow: 0 0 16px lightgray;
  }
  #header > .header-left > a {
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: #18263F;
    transition: .3s;
  }
  #header > .header-left > a:active,
  #header > .header-left > a:hover {
    text-shadow: 0 0 16px lightgray;
  }

  #header > .header-right {
    display: flex;
    gap: 10px;
  }
  #header > .header-right > a {
    display: flex;
    align-items: center;
    transition: .3s;
  }
  #header > .header-right > a:active,
  #header > .header-right > a:hover {
    filter: drop-shadow(0 0 8px lightgray);
  }
</style>

<div id='header'>
  <div class='header-left'>
    <a href={import.meta.env.BASE_URL}>
      <img src={`${import.meta.env.BASE_URL}/favicon.svg`}
           alt='ZodUI'
           width='48'
           height='48'
      >
      &nbsp;
      Zod&nbsp;<span style='color: white'>UI</span>
    </a>
    <div class='tabs'>
      <div class='active-bar'></div>
      {TABS.map(tab => <div class:list={['tab', { disabled: tab.disabled }]}>
        {tab.disabled
          ? tab.title
          : <a href={`${import.meta.env.BASE_URL}${tab.href}`}>{tab.title}</a>}
      </div>)}
    </div>
  </div>
  <div class='header-right'>
    <ThemeSwitcher />
    <a href='https://github.com/zodui/zodui' target='_blank'>
      <img src='https://github.githubassets.com/favicons/favicon.svg'
           alt='GitHub ZodUI Repsitory'
           width='28'
           height='28'
      >
    </a>
  </div>
</div>
<script data-message={JSON.stringify({
  TABS,
})}>
  const {
    TABS
  } = JSON.parse(document.currentScript.dataset.message)
  ;window.addEventListener('load', () => {
    /** @type {HTMLDivElement} */
    const activeBar = document.querySelector('#header .tabs .active-bar')
    const index = TABS.findIndex(t => t.href === window.location.pathname)
    if (index > -1) {
      activeBar.style.bottom = '-20px'
      activeBar.style.left = `${index * 120}px`
    }
  })
</script>
