---
export interface Props {
	title?: number;
  includeMonaco?: boolean;
}

const { title, includeMonaco = false } = Astro.props;
---

<!DOCTYPE html>
<html lang='en'>
	<head>
		<meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link rel='alternate icon' class='js-site-favicon' type='image/png' href='/favicon.png'>
    <link rel='icon' class='js-site-favicon' type='image/svg+xml' href='/favicon.svg'>
		<meta name='generator' content={Astro.generator} />
		<title>Zod UI{title ? ` - ${title}` : ''}</title>
    {includeMonaco &&
      <script is:inline>
        var require = { paths: { vs: `${import.meta.env.BASE_URL}monaco/min/vs` } }
      </script>
      <link
        rel='stylesheet'
        data-name='vs/editor/editor.main'
        href={`${import.meta.env.BASE_URL}monaco/min/vs/editor/editor.main.css`}
      >
      <script
        src={`${import.meta.env.BASE_URL}monaco/min/vs/loader.js`}
        is:inline
      />
      <script
        src={`${import.meta.env.BASE_URL}monaco/min/vs/editor/editor.main.nls.js`}
        is:inline
      />
      <script
        src={`${import.meta.env.BASE_URL}monaco/min/vs/editor/editor.main.js`}
        is:inline
      />}
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global lang='scss'>
	:root {
		--accent: 124, 58, 237;
		--accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #da62c4 30%, white 60%);
	}
	html {
		font-family: system-ui, sans-serif;
		background-color: #F6F6F6;
	}
  body {
    display: flex;
    margin: 0;
    padding-top: 60px;
    > div.main {
      display: flex;
      width: 100%;
    }
  }
	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}
</style>
